---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<Layout title="Blog">
  <div class="flex flex-col items-center justify-center min-h-screen">
    <div class="text-left">
      <h1 class="text-2xl text-gray-800 dark:text-white font-bold mb-2">
        <a href="/">Mameli.Dev</a>
      </h1>
      <ul class="list-none text-left">
        {
          posts.map((post) => (
            <li class="mb-1.5">
              <a
                class="text-xl font-extrabold text-gray-800 hover:underline underline-offset-7 decoration-wavy decoration-green-500 dark:decoration-green-400 dark:text-white"
                href={`/blog/${post.id}/`}
              >
                {post.data.title}
              </a>
              <span class="text-lg text-gray-800 dark:text-white">
                : {post.data.description}
              </span>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
