@import "tailwindcss";
@plugin '@tailwindcss/typography';
@config "../../tailwind.config.js";

@font-face {
  font-family: 'EBGaramond';
  src: url('/fonts/EBGaramond-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: 'EBGaramond', sans-serif;
}

body {
  font-family: var(--font-family);
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
