@import "tailwindcss";
@plugin '@tailwindcss/typography';
@config "../../tailwind.config.js";

@font-face {
  font-family: 'EBGaramond';
  src: url('/fonts/EBGaramond-Regular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family: 'EBGaramond', sans-serif;
}

body {
  font-family: var(--font-family);
}