@import "tailwindcss";
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'EBGaramond';
  src: url('/fonts/EBGaramond-Regular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('/fonts/EBGaramond-Medium.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --font-family: 'EBGaramond', sans-serif;
}

body {
  font-family: var(--font-family);
}