<!--
  Enhanced contacts page with centered layout and updated content.
-->
---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact Me">
  <div class="flex flex-col items-center justify-center min-h-screen">
    <div class="text-center">
      <h1 class="text-2xl text-gray-800 dark:text-white font-bold mb-8">Contact Me</h1>
      <div class="flex flex-wrap justify-center gap-6 text-lg text-gray-800 dark:text-white">
        <a
          class="font-light hover:underline underline-offset-2"
          href="https://github.com/mameli"
        >
          GitHub
        </a>
        <a
          class="font-light hover:underline underline-offset-2"
          href="https://www.linkedin.com/in/filippo-mameli-68006067/"
        >
          LinkedIn
        </a>
        <a
          class="font-light hover:underline underline-offset-2"
          href="https://www.instagram.com/therealmameli/"
        >
          Instagram
        </a>
        <a
          class="font-light hover:underline underline-offset-2"
          href="/"
        >
          Blog
        </a>
        <a
          class="font-light hover:underline underline-offset-2"
          href="/cv/Filippo_Mameli_EN_Resume.pdf"
        >
          Resume
        </a>
        <a
          class="font-light hover:underline underline-offset-2"
          href="mailto:filippomameli@outlook.com"
        >
          Email
        </a>
      </div>
    </div>
  </div>
</Layout>
