---
import Layout from '../layouts/Layout.astro'
import profilePic from '../assets/profile.png'
import { Image } from 'astro:assets'
---

<!--
  Migrated index.tsx to Astro's component structure.
  Replaces Next.js-specific features with Astro equivalents.
-->
<Layout title="Home">
  <div
    class="flex flex-col sm:flex-row items-center justify-center min-h-screen"
  >
    <div class="text-center sm:text-left sm:w-2/4">
      <h1 class="text-2xl text-gray-800 dark:text-white font-bold mb-0">
        <a href="/">Mameli.Dev</a>
      </h1>
      <div class="py-1"></div>
      <h1 class="text-xl  text-gray-800 dark:text-white">
        I'm Filippo Mameli and this is my
        <a class="font-extrabold hover:underline underline-offset-3 text-green-800 dark:text-green-200" href="/blog">
          blog
        </a>
        <div class="py-1"></div>
        I work at
        <a
          class="font-extrabold hover:underline underline-offset-3 text-green-800 dark:text-green-200"
          href="https://www.agilelab.it"
        >
          AgileLab
        </a> as a Data engineer.
        <div class="py-1"></div>
        I'm a curious technology aficionado. I enjoy
        sharing knowledge or interesting insights through writing
        <a class="font-extrabold hover:underline underline-offset-3 text-green-800 dark:text-green-200" href="/blog">
          articles
        </a> and
        <a
          class="font-extrabold hover:underline underline-offset-3 text-green-800 dark:text-green-200"
          href="https://github.com/mameli"
        >
          coding
        </a>
        <div class="py-1"></div>
        I'm also really into
        <a
          class="font-extrabold hover:underline underline-offset-3 text-green-800 dark:text-green-200"
          href="https://www.last.fm/user/mameli_mixtape"
        >
          music
        </a> and
        <a
          class="font-extrabold hover:underline underline-offset-3 text-green-800 dark:text-green-200"
          href="https://www.instagram.com/therealmameli/"
        >
          photography
        </a>
        <div class="py-1"></div>
        Here are details how to
        <a class="font-extrabold hover:underline underline-offset-3 text-green-800 dark:text-green-200" href="/contacts">
          connect
        </a> with me.
      </h1>
    </div>
    <div class="sm:w-1/4 flex justify-center sm:justify-end mt-8 sm:mt-0">
      <div
        class="w-32 h-32 rounded-full shadow-2xl shadow-green-900 dark:shadow-green-500/50"
      >
        <Image
          src={profilePic}
          alt="Picture of the author"
          width={200}
          height={200}
          format="webp"
          class="rounded-full w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</Layout>
