<!--
  Migrated Footer.tsx to Astro's component structure.
  Replaces Next.js-specific features with Astro equivalents.
-->
---
---

<footer class="flex flex-col justify-center h-10">
  <hr />
  <span class="m-auto">
    Created with ♥ by 
    <a
      class="text-cyan-500 hover:underline underline-offset-2"
      href="https://github.com/mameli"
    >
      Mameli
    </a>
  </span>
</footer>
