---
---

<footer class="mb-8 flex flex-col items-center">
  <p class="text-xl text-gray-800 dark:text-white mb-2 max-w-7xl w-full text-center">
    Thanks for reading all the way to the end!<br/> If the content was useful, consider buying me an onigiri to keep the tech posts coming ðŸ’š
  </p>
  <div class="w-full flex justify-center">
    <script
      type="text/javascript"
      src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
      data-name="bmc-button"
      data-slug="mameli.dev"
      data-color="#5fd176"
      data-emoji="ðŸ™"
      data-font="Cookie"
      data-text="Buy me an onigiri"
      data-outline-color="#000000"
      data-font-color="#000000"
      data-coffee-color="#FFDD00"
    ></script>
  </div>
</footer>
